<div class="container" style="width:600px">
  <div class="d-flex flex-column">
    <ng-container *ngFor="let emp of empdata">
      <label for="code">Code :{{emp.code}} </label>
      <mat-divider></mat-divider>
      <label for="code">Fullname : {{emp.firstname+" "+emp.middlename+" "+emp.lastname}}</label>
      <mat-divider></mat-divider>
      <label for="code">Department : {{emp.department}} </label>
      <mat-divider></mat-divider>
      <label for="code">Pincode :{{emp.pincode}} </label>
      <mat-divider></mat-divider>
      <label for="code"> Gender : {{emp.gender}}</label>
    </ng-container>
    <button class="btn btn-outline-secondary" [routerLink]="['']">Back to List</button>
  </div>
</div>