<div class="container mt-5">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Studentid">
            <th mat-header-cell *matHeaderCellDef> Studentid </th>
            <td mat-cell *matCellDef="let element"><button type="button" class="btn btn-outline-primary"
                    (click)="routerclick(element)">{{element.Studentid}}</button>

                <button type="button" class="btn btn-outline-dark"
                    [routerLink]="(['/person',{code:1}])">{{element.Studentid}}</button>

                <button type="button" class="btn btn-outline-warning" [routerLink]="(['/showone',element.Studentid])"
                    [queryParams]="{'std':element.Studentid,'status':element.firstname}" >{{element.Studentid}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef>fullname</th>
            <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
        </ng-container>
        <ng-container matColumnDef="class">
            <th mat-header-cell *matHeaderCellDef> class </th>
            <td mat-cell *matCellDef="let element"> {{element.class}} </td>
        </ng-container>
        <ng-container matColumnDef="rollno">
            <th mat-header-cell *matHeaderCellDef> rollno </th>
            <td mat-cell *matCellDef="let element"> {{element.rollno}} </td>
        </ng-container>
        <ng-container matColumnDef="math">
            <th mat-header-cell *matHeaderCellDef> math </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.math<=35">
            <td mat-cell style="background-color: red;">{{element.math}}</td>
        </ng-container>
        <ng-container *ngIf="element.math>35">
            <td mat-cell>{{element.math}}</td>
        </ng-container>
        </td>
        </ng-container>
        <ng-container matColumnDef="english">
            <th mat-header-cell *matHeaderCellDef> english </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.english<=35">
            <td mat-cell style="background-color: red;">{{element.english}}</td>
        </ng-container>
        <ng-container *ngIf="element.english>35">
            <td mat-cell>{{element.english}}</td>
        </ng-container>
        </td>
        </ng-container>
        <ng-container matColumnDef="hindi">
            <th mat-header-cell *matHeaderCellDef>hindi </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.hindi<=35">
            <td mat-cell style="background-color: red;">{{element.hindi}}</td>
        </ng-container>
        <ng-container *ngIf="element.hindi>35">
            <td mat-cell>{{element.hindi}}</td>
        </ng-container>
        </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.hindi+element.english+element.math<=150">
            <td mat-cell style="background-color: blue;">{{element.hindi+element.english+element.math}}</td>
        </ng-container>
        <ng-container *ngIf="element.hindi+element.english+element.math>150">
            <td mat-cell>{{element.hindi+element.english+element.math}}</td>
        </ng-container>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
